body{
    overflow-x: hidden;
}
.grid{
    display: grid;
}
.col2{
    grid-template-columns: 50% 50%;
}
.absolute{
    position: absolute;
}
.left{
    background-color: skyblue;
    height: 100vh;
    
}
.right{
    background-color: slateblue;
    height: 100vh;
}
.mainContainer{
    background-color: burlywood;
    height: 100vh;
    width: 60vw;
    top: 0;
    left: 20%;
}
.textCenter{
    text-align: center;
}
.test{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.bird{
    display: block;
    animation: flyingBird 10s ,textShadowAndColor 4s;
}
.flip{
    animation: 3s linear infinite;    
    
}
.dogwalk{
    margin-top: 15%;
    animation: marqueeL 10s linear infinite;
}
@keyframes flyingBird{
    0%{
        transform: translateX(-100%);
        
    }
    25%{
        transform: translate(100%,600px);
        
    }
    50%{
        transform: translate(930px,100%);
        
    }
    75%{
        transform: translate(300px,300px);
        
    }

}
@keyframes flipAround{
    50%{
        transform: rotateY(180deg);
    }
}
@keyframes flipVertical{
    50%{
        transform: rotateX(180deg);
    }
}
@keyframes circlularAnim{
    100%{
        transform: rotateZ(360deg);
    }
}