.shadowAnim{
    animation: 2s ease-in-out infinite;
    animation-name: textShadow;
}
.textAnim{
    animation: 2s ease-in-out infinite;
    animation-name: textColAnim;
}

.textShadowMargin{
    margin-left: 48%;
}
.textShadowAnim{
    animation: 4s ease-in-out infinite;
    animation-name: textShadowAndColor;
}
.textShadowAnim2{
    animation: 4s ease-in-out infinite;
    animation-delay: 0.3s;
    animation-name: textShadowAndColor;
}
.textShadowAnim3{
    animation: 4s ease-in-out 0.6s infinite;    
    animation-name: textShadowAndColor;
}
.textShadowAnim4{
    animation: 4s ease-in-out 0.9s infinite;    
    animation-name: textShadowAndColor;
}
.textShadowAnim5{
    animation: 4s ease-in-out 1.2s infinite;    
    animation-name: textShadowAndColor;
}
.textShadowAnim6{
    animation: 4s ease-in-out 1.5s infinite;    
    animation-name: textShadowAndColor;
}
.textShadowAnim7{
    animation: 4s ease-in-out 1.8s infinite;    
    animation-name: textShadowAndColor;
}
.textShadowAnim8{
    animation: 4s ease-in-out 2.1s infinite;    
    animation-name: textShadowAndColor;
}
.textShadowAnim9{
    animation: 4s ease-in-out 2.4s infinite;    
    animation-name: textShadowAndColor;
}
.textShadowAnim10{
    animation: 4s ease-in-out 2.7s infinite;    
    animation-name: textShadowAndColor;
}
.textShadowAnim11{
    animation: 4s ease-in-out 3.0s infinite;    
    animation-name: textShadowAndColor;
}
.textShadowAnim12{
    animation: 4s ease-in-out 3.3s infinite;    
    animation-name: textShadowAndColor;
}
.textShadowAnim13{
    animation: 4s ease-in-out 3.6s infinite;    
    animation-name: textShadowAndColor;
}
.textShadowAnim14{
    animation: 4s ease-in-out 3.9s infinite;    
    animation-name: textShadowAndColor;
}
.textShadowAnim15{
    animation: 4s ease-in-out 4.2s infinite;    
    animation-name: textShadowAndColor;
}


.textUncover{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 0.5s infinite;
    animation-name: textBlinkBlack;
}
.textUncover2{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 1s infinite;
    animation-name: textBlinkBlack;
}
.textUncover3{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 1.5s infinite;
    animation-name: textBlinkBlack;
}
.textUncover4{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 2s infinite;
    animation-name: textBlinkBlack;
}
.textUncover5{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 2.5s infinite;
    animation-name: textBlinkBlack;
}
.textUncover6{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 3s infinite;
    animation-name: textBlinkBlack;
}
.textUncover7{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 3.5s infinite;
    animation-name: textBlinkBlack;
}
.textUncover8{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 4s infinite;
    animation-name: textBlinkBlack;
}
.textUncover9{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 4.5s infinite;
    animation-name: textBlinkBlack;
}
.textUncover10{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 5s infinite;
    animation-name: textBlinkBlack;
}
.textUncover11{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 5.5s infinite;
    animation-name: textBlinkBlack;
}
.textUncover12{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 6s infinite;
    animation-name: textBlinkBlack;
}
.textUncover13{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 6.5s infinite;
    animation-name: textBlinkBlack;
}
.textUncover14{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 7s infinite;
    animation-name: textBlinkBlack;
}
.textUncover15{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 7.5s infinite;
    animation-name: textBlinkBlack;
}


.textwrite{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 0.5s forwards;
    animation-name: textUncover;
}
.textwrite2{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 1s forwards;
    animation-name: textUncover;
}
.textwrite3{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 1.5s forwards;
    animation-name: textUncover;
}
.textwrite4{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 2s forwards;
    animation-name: textUncover;
}
.textwrite5{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 2.5s forwards;
    animation-name: textUncover;
}
.textwrite6{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 3s forwards;
    animation-name: textUncover;
}
.textwrite7{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 3.5s forwards;
    animation-name: textUncover;
}
.textwrite8{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 4s forwards;
    animation-name: textUncover;
}
.textwrite9{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 4.5s forwards;
    animation-name: textUncover;
}
.textwrite10{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 5s forwards;
    animation-name: textUncover;
}
.textwrite11{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 5.5s forwards;
    animation-name: textUncover;
}
.textwrite12{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 6s forwards;
    animation-name: textUncover;
}
.textwrite13{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 6.5s forwards;
    animation-name: textUncover;
}
.textwrite14{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 7s forwards;
    animation-name: textUncover;
}
.textwrite15{
    color: rgba(255, 255, 255, 0);
    animation: 1s ease-in-out 7.5s forwards;
    animation-name: textUncover;
}

.asciiLoad{
    color: gray;
    animation: 1s ease-in-out 0.5s forwards;
    animation-name: asciiLoad;
}
.asciiLoad2{
    color: gray;
    animation: 1s ease-in-out 1s forwards;
    animation-name: asciiLoad;
}
.asciiLoad3{
    color: gray;
    animation: 1s ease-in-out 1.5s forwards;
    animation-name: asciiLoad;
}
.asciiLoad4{
    color: gray;
    animation: 1s ease-in-out 2s forwards;
    animation-name: asciiLoad;
}
.asciiLoad5{
    color: gray;
    animation: 1s ease-in-out 2.5s forwards;
    animation-name: asciiLoad;
}
.asciiLoad6{
    color: gray;
    animation: 1s ease-in-out 3s forwards;
    animation-name: asciiLoad;
}
.asciiLoad7{
    color: gray;
    animation: 1s ease-in-out 3.5s forwards;
    animation-name: asciiLoad;
}
.asciiLoad8{
    color: gray;
    animation: 1s ease-in-out 4s forwards;
    animation-name: asciiLoad;
}
.asciiLoad9{
    color: gray;
    animation: 1s ease-in-out 4.5s forwards;
    animation-name: asciiLoad;
}
.asciiLoad10{
    color: gray;
    animation: 1s ease-in-out 5s forwards;
    animation-name: asciiLoad;
}
.asciiLoad11{
    color: gray;
    animation: 1s ease-in-out 5.5s forwards;
    animation-name: asciiLoad;
}
.asciiLoad12{
    color: gray;
    animation: 1s ease-in-out 6s forwards;
    animation-name: asciiLoad;
}
.asciiLoad13{
    color: gray;
    animation: 1s ease-in-out 6.5s forwards;
    animation-name: asciiLoad;
}
.asciiLoad14{
    color: gray;
    animation: 1s ease-in-out 7s forwards;
    animation-name: asciiLoad;
}
.asciiLoad15{
    color: gray;
    animation: 1s ease-in-out 7.5s forwards;
    animation-name: asciiLoad;
}

.loadingBarEmpty{
    background-color: grey;
    height: 10px;
    width: 500px;
    
}
.loadingBar{    
    height: 10px;
    width: 0px;
    animation: loadingBar 6s ease-in-out forwards;
}

.textBlinkW{
    color: black;
    animation: 1s ease-in-out infinite;
    animation-name: textBlinkWhite;
}
.textBlinkB{
    color: white;
    animation: 1s ease-in-out infinite;
    animation-name: textBlinkBlack;
}
.blinkBottom{
    color: black;    
    animation: 3s move-in-steps  steps(1) infinite;
    animation-name: catBlinkBottom;
}
.blinkMid{
    color: rgba(255, 255, 255, 0);
    animation: 3s move-in-steps  steps(1) infinite;
    animation-name: catBlinkMid;
}
.blinkTop{
    color: rgba(255, 255, 255, 0);    
    animation: 3s move-in-steps  steps(1) infinite;
    animation-name: catBlinkTop;
}

.loadingBarGreen{
    background-color: rgb(123, 255, 71);
}
.marqueeContainer{
    margin-left: 36%;
    margin-top: 2px;
    margin-bottom: 2px;
    border-style: solid;
    overflow: hidden;
    width: 300px;
    white-space: nowrap;
}
.marqueeS{
    animation: 15s linear infinite;
    animation-name: marqueeR;
}
.marqueeF{
    animation: 4s linear infinite;
    animation-name: marqueeR;
}


.lettersP{
    display: inline-block;
    letter-spacing: 0px;
}
.inlineBlock{
    display: inline-block;
}
.lettersSpan{
    letter-spacing: 0px;
}

.absolutePos{
    position: absolute;
}
.catRelativePos{
    position: relative;
    padding-bottom: 351px;
}
.relativePos{
    position: relative;
}
.underlineTxt{
    transform: translateY(10px);
}


.index1{
    z-index: 1;
}
.index2{
    z-index: 2;
}
.index3{
    z-index: 3;
}
.index4{
    z-index: 4;
}
.index5{
    z-index: 5;
}



.noVMargin{
    margin-top: 0px;
    margin-bottom: 0px;
}
.imageDisplay{
    height: 595px;
    width: 595px;
    
}
.catMargin{
    margin-left: 38%;
}
.catMargin button{
    margin-left: 25%;
}


.block{
    display: block;
}
.hidden{
    display: none;
}
.visible{
    display: initial;
}
.flex{
    display: flex;
}

#tutorial{
    word-wrap: break-word;
    width: 1000px;
    margin-left: -50%;
}
.padding70{
    padding-top: 70px;
}


.strike{
    text-decoration: line-through;
}
.strikeMargin{
    margin-left: 28%;
}


.transparent{
    color: rgba(255, 255, 255, 0);
}
.textBlack{
    color: black;
}
.textGreen{
    color: green;
}
.textBrown{
    color: brown;
}
.displayTextV{
    overflow-wrap: break-word;
    width: 5px;
    margin: 3px;
}


.dogGif{
    size: 50%;
    background-image: url(dogwalk.gif);
}
.maeImg{
    background-image: url(mae.jpg);
}

.bgWhite{
    background: white;
}
.asciiart-wrap {
    background: #000;
}
.asciiartCover{
    -webkit-background-clip: text;
    background-clip: text;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    word-break: break-all;
    color: #fff;
    font-family: monospace;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 30px;
    padding: 1px;
    text-align: justify;
}
.asciiartContain{
    -webkit-background-clip: text;
    background-clip: text;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    word-break: break-all;
    color: #fff;
    font-family: monospace;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 30px;
    padding: 1px;
    text-align: justify;
}

@keyframes loadingBar{
    0%{
        width: 0px;
    }
    100%{
        width: 500px;
    }
}
@keyframes marqueeR{
    0%{
        transform: translatex(100%);
    }
    100%{
        transform: translateX(-1600px);
    }
}
@keyframes marqueeL{
    0%{
        transform: translatex(0%);
    }
    100%{
        transform: translateX(100vw);
    }
}
@keyframes textBlinkWhite{
    50% {
        color: rgba(255, 255, 255, 0);;
    }
}
@keyframes textBlinkBlack{
    50% {
        color: black;
    }
}
@keyframes catBlinkBottom{
    25% {
        color: rgba(255, 255, 255, 0);
    }
}
@keyframes catBlinkMid{
    25% {
        color: black;
    }
    50%{
        color: rgba(255, 255, 255, 0);
    }
    60%{
        color: black;
    }
}
@keyframes catBlinkTop{
    50% {
        color: black;
    }
    60%{
        color: rgba(255, 255, 255, 0);
    }
}
@keyframes textUncover{
    50% {
        color: rgba(255, 255, 255, 0);
    }
    100%{
        color: black;
    }
}
@keyframes asciiLoad{
    50% {
        color: gray;
    }
    100%{
        color: green;
    }
}
@keyframes textColAnim{
    50% {
        color: #d2738a;
    }
}
@keyframes textShadowAndColor{
    50% {
        color: #d2738a;
        text-shadow: #d2738a 1px 4px 5px;
    }
}
@keyframes textShadow{
    50% {
        text-shadow: #d2738a 1px 4px 5px;
    }
}